@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #051014; /* Deep dark green/black background */
}
